.main-container {
  padding: 20px;
  background: rgb(233, 233, 250);
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding: 20px;
  background-color: rgb(34, 65, 236);
}

.heading h3 {
  font-size: 2.75rem;
  font-weight: bold;
  color: wheat;
}

a {
  font-size: large;
  color: white;
  font-weight: 600;
}

.data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.data-form {
  background-color: rgb(85 161 243 / 15%);
  padding: 30px;
}

.client-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-column-gap: 40px;
  background-color: wheat;
}

.client-details form {
  padding: 30px;
  margin: 0 auto;
  align-self: center;
}

.airdata-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 30px;
  padding: 30px;
}
.airline-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.input-container {
}
